.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  font-size: 32px;
  color: white;
}
